{
	email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
	encode zstd gzip
	reverse_proxy web:80
}

www.{$APP_DOMAIN} {
	redir https://{$APP_DOMAIN}{uri} permanent
}

{$API_DOMAIN} {
	encode zstd gzip
	reverse_proxy api:4000
}

{$SUPABASE_DOMAIN} {
	encode zstd gzip
	reverse_proxy api-gw:8000
}
